
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Valores - Vivi | Lash Design</title>
    <link rel="stylesheet" href="/components/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <nav class="navbar">
        <div class="nav-container">
            <a href="/components/pages/inicio.html" class="nav-logo">
                <img class="nav-img" src="/components/src/img/logo.png" alt="Logo de Vivi Fogaça Lash Design">
            </a>            
            <ul class="nav-menu">
                <li class="nav-item"><a href="/components/pages/inicio.html">Início</a></li>
                <li class="nav-item"><a href="/components/pages/sobre.html">Sobre</a></li>
                <li class="nav-item"><a href="/components/pages/cilios.html">Cílios</a></li>
                <li class="nav-item"><a href="/components/pages/sombrancelhas.html">Sobrancelhas</a></li>
                <li class="nav-item"><a href="/components/pages/depilacao.html">Depilação Buço</a></li>
                <li class="nav-item"><a href="/components/pages/pagamento.html">Pagamento</a></li>
                <li class="nav-item"><a href="/components/pages/contato.html">Contato</a></li>
            </ul>
        </div>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
    <main class="container">
        <section id="servicos">
            <div class="card service-card">
                <img class="service-img" src="/components/src/img/brasileiro.jpg" alt="Extensão de Cílios Brasileiro">
                <h3>Brasileiro</h3>
                <p class="service-desc">Cílios naturais, delicados e com leve volume. 💖</p>
                <div class="price">R$ 100,00</div>
                <div class="maintenance">
                    <strong>Manutenção:</strong> R$ 90 | 20 dias
                </div>
                <div class="category">Categoria: Natural</div>
            </div>

            <div class="card service-card">
                <img class="service-img" src="/components/src/img/egipsio.jpg" alt="Extensão de Cílios Egípcio">
                <h3>Egípcio</h3>
                <p class="service-desc">Olhar marcante e sofisticado, com fios mais densos.✨</p>
                <div class="price">R$ 120,00</div>
                <div class="maintenance">
                    <strong>Manutenção:</strong> R$ 100 | 20 dias
                </div>
                <div class="category">Categoria: Marcante</div>
            </div>

            <div class="card service-card">
                <img class="service-img" src="/components/src/img/fox.jpg" alt="Extensão de Cílios Fox Eyes">
                <h3>Fox Eyes (Olhar de Raposa)</h3>
                <p class="service-desc">Cantos alongados, efeito de olhar puxadinho e sensual.🦊</p>
                <div class="price">R$ 140,00</div>
                <div class="maintenance">
                    <strong>Manutenção:</strong> R$ 115 | 20 dias
                </div>
                <div class="category">Categoria: Efeito Delineado</div>
            </div>

            <div class="card service-card">
                <img class="service-img" src="/components/src/img/glam(6d).jpg" alt="Extensão de Cílios Volume Glam (6D)">
                <h3>Volume Glam (6D)</h3>
                <p class="service-desc">Fios mais cheios e marcantes, ideal pra quem ama destaque!❤‍🔥</p>
                <div class="price">R$ 150,00</div>
                <div class="maintenance">
                    <strong>Manutenção:</strong> R$ 120 | 20 dias
                </div>
                <div class="category">Categoria: Volumoso</div>
            </div>

            <div class="card service-card">
                <img class="service-img" src="/components/src/img/mega_volumoso.jpg" alt="Extensão de Cílios Mega Volume (8D)">
                <h3>Mega Volume (8D)</h3>
                <p class="service-desc">Olhar super intenso e poderoso!❤‍🔥</p>
                <div class="price">R$ 170,00</div>
                <div class="maintenance">
                    <strong>Manutenção:</strong> R$ 130 | 20 dias
                </div>
                <div class="category">Categoria: Volumoso</div>
            </div>

            <div class="card service-card">
                <img class="service-img" src="/components/src/img/lash-lifting.jpg" alt="Lash Lifting">
                <h3>Lash Lifting</h3>
                <p class="service-desc">Realce natural dos cílios, sem alongar — apenas curva e levanta!🌸</p>
                <div class="price">R$ 95,00</div>
                <div class="maintenance">
                    <strong>Manutenção:</strong> Sem Manutenção | Pode ser feito a cada 2 meses.
                </div>
                <div class="category">Categoria: Natural</div>
            </div>

            <div class="card service-card">
                <img class="service-img" src="/components/src/img/sirena.jpg" alt="Extensão de Cílios Sirena">
                <h3>Sirena</h3>
                <p class="service-desc">Fios aplicados do meio ao canto externo, criando um olhar alongado e sensual. Leve, natural e com destaque no final dos olhos.😮‍💨</p>
                <div class="price">R$ 130,00</div>
                <div class="maintenance">
                    <strong>Manutenção:</strong> R$ 110 | 20 dias
                </div>
                <div class="category">Categoria: Alongado</div>
            </div>
        </section>
    </main>
    <footer>
        &copy; 2025 Vivi Fogaça | LashDesign. Todos os direitos reservados. <br>
        Desenvolvido por <a href="https://github.com/jian-19" target="_blank">Jian Rodrigues Ferreira</a>
    </footer>
    <script src="/components/js/index.js"></script>
</body>
</html>