
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Valores - Vivi | Lash Design</title>
    <link rel="stylesheet" href="/components/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <nav class="navbar">
        <div class="nav-container">
            <a href="/components/pages/inicio.html" class="nav-logo">
                <img class="nav-img" src="/components/src/img/logo.png" alt="Logo de Vivi Fogaça Lash Design">
            </a>            
            <ul class="nav-menu">
                <li class="nav-item"><a href="/components/pages/inicio.html">Início</a></li>
                <li class="nav-item"><a href="/components/pages/sobre.html">Sobre</a></li>
                <li class="nav-item"><a href="/components/pages/cilios.html">Cílios</a></li>
                <li class="nav-item"><a href="/components/pages/sombrancelhas.html">Sobrancelhas</a></li>
                <li class="nav-item"><a href="/components/pages/depilacao.html">Depilação Buço</a></li>
                <li class="nav-item"><a href="/components/pages/pagamento.html">Pagamento</a></li>
                <li class="nav-item"><a href="/components/pages/contato.html">Contato</a></li>
            </ul>
        </div>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
    <main class="container">
        <section id="localizacao" class="card">
            <h2>Contato</h2>
            <p>Toque em cima do ícone para acessar</p>
            <div class="contact-info">
                <a href="#" class="contact-icon" id="instagram"><i class="fab fa-instagram"></i><span>@lashdesign.vivi</span></a>
                <a href="#" class="contact-icon" id="whatsapp"><i class="fab fa-whatsapp"></i><span>(49) 99185-7441</span></a>
                <a href="#" class="contact-icon" id="maps"><i class="fas fa-map-marker-alt"></i><span>Onde me encontrar</span></a>
            </div>
        </section>
    </main>
    <footer>
        &copy; 2025 Vivi Fogaça | LashDesign. Todos os direitos reservados. <br>
        Desenvolvido por <a href="https://github.com/jian-19" target="_blank">Jian Rodrigues Ferreira</a>
    </footer>
    <script src="/components/js/index.js"></script>
</body>
</html>